<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Add Bioskop </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Bioskop')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Bioskop</h2>
                <br>
                <form th:action="@{/bioskop/add}" th:object="${bioskop}" method="POST">
                    Nama Bioskop : <br>
                    <input required class="form-control" type="text" name="namaBioskop" />
                    <br><br>

                    Alamat Bioskop: <br>
                    <input required class="form-control" type="text" name="alamatBioskop" />
                    <br><br>

                    Jumlah Studio : <br>
                    <input required min="0" class="form-control" type="number" name="jumlahStudio" />
                    <br><br>

                    Waktu Buka : <br>
                    <input required class="form-control" type="time" name="waktuBuka" />
                    <br><br>

                    Waktu Tutup : <br>
                    <input required class="form-control" type="time" name="waktuTutup" />
                    <br><br>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Film</th>
                            <th>
                                <button type="submit" name="addRow" class="btn btn-primary">Tambar Row</button>
                            </th>
                        </tr>
                        </thead>
                        <br>
                        <tbody>
                        <tr th:each="film, iterationStatus : ${bioskop.listFilm}">
                            <td class="col-lg-3">
                                <select name="noFilm" th:field="*{listFilm[__${iterationStatus.index}__].noFilm}" class="form-control">
                                    <option th:each="film : ${existingFilm}"
                                    th:value="${film.noFilm}"
                                    th:text="${film.namaFilm}"></option>
                                </select>
                                <br>
                            </td>
                            <td><button type="submit" name="removeRow" th:value="${iterationStatus.index}" class="btn btn-danger">Hapus</button> </td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-primary" type="submit"name="save">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>